.medicine-welcome {
    background: linear-gradient(rgba(1, 1, 37, 0.598), rgba(0, 0, 0, 0.427)), url('../../assets/med.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    margin-bottom: 30px;
}

.tech-welcome-content {
    backdrop-filter: blur(2px);
    border-radius: 10px;
    color: rgb(10, 23, 62);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.medicine-welcome h2 {
    font-size: 2.8rem;
    padding-bottom: 2rem;
    text-shadow: 0 0 10px #fff;
    text-align: center;
}

.medicine-welcome h3 {
    font-size: 2rem;
    text-shadow: 0 0 10px #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: capitalize;
}

.medicine-welcome h3::before ,
.medicine-welcome h3::after {
    content: '~';
}


.hero-about {
    padding: 40px 0px;
    width: 100%;
    margin: auto;
}

.hero-about .about-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: royalblue;
    padding: 50px 10px;
    margin: 0 20px;
    box-shadow: 2px 2px 4px #000;
    transition: all 1s
}

.hero-about .about-us h3 {
    background: gold;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;
    transition: all .5s;
}

.hero-about .about-us h3:hover {
    transform: scale(.8)
}

.hero-about .about-us h3:hover span {
    opacity: 0
}

.hero-about .about-us p {
    flex-basis: 70%;
    color: #f0f0f0;
    font-size: 18px;
    line-height: 1.8;
}

.about-body {
    margin-top: 20px;
}


.join-abouts {
    background: royalblue;
    margin: 0 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    gap: 30px;
    box-shadow: 2px 2px 10px #333;
}

.join-abouts p {
    color: #f0f0f0;
    line-height: 1.4;
    font-size: 16px;
}

.join-abouts h3 {
    font-size: 1rem;
    background: gold;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: default;
    width: 200px;
    white-space: nowrap;
    margin-bottom: 20px;
    transition: all .5s;
}

.about-academics h3 {
    width: 230px;
}

.about-experience h3 {
    width: 240px
}

.about-community h3 {
    width: 270px;
}


.join-abouts h3:hover {
    transform: scale(.8)
}

.join-abouts h3:hover span {
    opacity: 0
}

.about-mission,
.about-academics {
    flex-basis: 50%;
}

@media(max-width: 760px) {
    .hero-about .about-us {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .hero-about .about-us h3 {
        font-size: 1rem;
    }

    .join-abouts {
        flex-direction: column;
    }
}

.about-join-us-med {
    background: url('../../assets/school-of-med.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 40vw;
    margin: 20px;
}

.join-us-container-med {
    display: flex;
    justify-content: space-around;
    height: 100%
    
}

.join-us-info-med {
    background: royalblue;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    box-shadow: 2px 2px 10px #000;
}

.join-us-info-med h3 {
    font-size: 1rem;
    background: gold;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: default;
    width: 100px;
    white-space: nowrap;
    margin-bottom: 20px;
    transition: all .5s;
}

.join-us-info-med h3:hover {
    transform: scale(.8)
}

.join-us-info-med h3:hover span {
    opacity: 0
}

.join-us-info-med p {
    color: #fff;
    line-height: 1.4;
}

.join-us-form-med {
    backdrop-filter: blur(2px);
    background: #ffffff44;
    margin-left: 20%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.join-us-form-med h3 {
    font-size: 1rem;
    padding-bottom: 20px;
    padding-left: 30px;
}    

.join-us-form-med input,
.join-us-form-med select,
.join-us-form-med textarea {
    padding: 8px;
    margin-left: 4px;
    margin-bottom: 4px;
    outline: none;
    border: 2px solid royalblue;
    width: 300px
}

.join-us-form-med textarea {
    height: 100px;
}

.join-us-form-med button {
    background: rgb(174, 154, 4);
    cursor: pointer;
    border: none;
    outline: none;
    display: grid;
    place-content: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    color: #f0f0f0
}

@media(max-width: 900px) {
    .about-join-us-med {
        height: 100vh
    }

    .join-us-info-med {
        flex-basis: 40%;
    }

    .join-us-form-med {
        flex-basis: 60%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .join-us-info-med {
        padding: 20px 10px;
    }

    .join-us-container-med {
        flex-direction: column;
        gap: 30px;
    }


    .join-us-form-med input,
    .join-us-form-med select,
    .join-us-form-med textarea {
        width: 60%;
        padding: 8px;
        border: 2px solid royalblue;
        outline: none;
        margin-top: 1px;
    }

    .join-us-form-med textarea {
        height: 60px
    }
}

@media(max-width: 370px) {
    .join-us-container-med {
        gap: 0;
    } 

    .join-us-form input,
    .join-us-form select,
    .join-us-form textarea {
        padding: 6px;
    }
}